<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tweets Page</h1>
    <h2>Here are all my tweets</h2>


    <p>Enjoy!</p>

    <p>{{ message }}</p>
    {% if tweets %}
        <ul>
        {% for tweet in tweets %}
            <li>{{ tweet.tweet_id }}</li>
            <li>{{ tweet.user }}</li>
        {% endfor %}
        </ul>

    {% else %}
        <p>Books not found.</p>
    {% endif %}

</body>
</html>